# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\PC1\AppData\Roaming\JetBrains\DataGrip2020.3\projects\Exercise\.idea/dataSources/
/dataSources.local.xml
