@using FileData

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <a href="" @onclick="PerformLogout"> Log out </a>
    </Authorized>
</AuthorizeView>

@code {

    public async Task PerformLogout()
    {
        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
        }
    }
}