@page "/EditAdult/{Id:int}"
@using FileData
@using Person
@inject IAdultService AdultService
@inject NavigationManager NavigationManager

<h3>Edit Adult</h3>

@if (loadedAdult == null)
{
    <em>Adult Not Found</em>
}
else{   
    <EditForm Model="@loadedAdult" OnValidSubmit="@EditLoadedAdult">
        <DataAnnotationsValidator/>
        <div class="form-group">
            First Name: <br/>
            <InputText rows="1" @bind-Value="loadedAdult.FirstName"/>
        </div>

        <div class="form-group">
            Last Name: <br/>
            <InputText rows="1" @bind-Value="loadedAdult.LastName "/>
        </div>

        <div class="form-group">
            Hair Color: <br/>
            <InputText rows="1" @bind-Value="loadedAdult.HairColor"/>
        </div>

        <div class="form-group">
            Eye Color: <br/>
            <InputText rows="1" @bind-Value="loadedAdult.EyeColor"/>
        </div>

        <div class="form-group">
            Age: <br/>
            <InputNumber @bind-Value="loadedAdult.Age"/>
        </div>

        <div class="form-group">
            Weight: <br/>
            <InputNumber @bind-Value="loadedAdult.Weight"/>
        </div>

        <div class="form-group">
            Height: <br/>
            <InputNumber @bind-Value="loadedAdult.Height"/>
        </div>

        <div class="form-group">
            Sex: <br/>
            <InputText @bind-Value="loadedAdult.Sex"/>
        </div>

        <div class="form-group">
            Job Title: <br/>
            <InputText @bind-Value="loadedAdult.JobTitle.JobTitle"/>
        </div>

        <div class="form-group">
            Salary: <br/>
            <InputNumber @bind-Value="loadedAdult.JobTitle.Salary"/>
        </div>


        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Edit</button>
        </p>
    </EditForm>
}
@code {

    private Adult loadedAdult;
    
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loadedAdult = AdultService.GetAdultById(Id);
    }

    private void EditLoadedAdult()
    {
        AdultService.EditAdult(loadedAdult);
        NavigationManager.NavigateTo("/SeeAllAdults");
    }
}