<section class="py-5 px-6 bg-white shadow">
  <nav>
    <div class="relative flex items-center">
      <div class="flex items-center mr-auto">
        <button class="flex items-center">
          <span class="flex justify-center items-center mr-3 w-10 h-10 bg-indigo-500 text-sm text-white rounded-full">EP</span>
          <p class="text-sm font-medium mr-2">Example Project</p>
          <span class="inline-block -mb-px">
            <svg class="text-gray-500" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.8596 9.52667L7.99958 12.3933L5.13958 9.52667C5.01404 9.40114 4.84378 9.33061 4.66624 9.33061C4.48871 9.33061 4.31845 9.40114 4.19291 9.52667C4.06738 9.65221 3.99685 9.82247 3.99685 10C3.99685 10.1775 4.06738 10.3478 4.19291 10.4733L7.52624 13.8067C7.65115 13.9308 7.82012 14.0005 7.99624 14.0005C8.17237 14.0005 8.34134 13.9308 8.46624 13.8067L11.7996 10.4733C11.8617 10.4112 11.911 10.3374 11.9447 10.2562C11.9783 10.175 11.9956 10.0879 11.9956 10C11.9956 9.9121 11.9783 9.82505 11.9447 9.74384C11.911 9.66262 11.8617 9.58883 11.7996 9.52667C11.7374 9.46451 11.6636 9.41521 11.5824 9.38157C11.5012 9.34793 11.4142 9.33061 11.3262 9.33061C11.2383 9.33061 11.1513 9.34793 11.0701 9.38157C10.9889 9.41521 10.9151 9.46451 10.8529 9.52667H10.8596ZM5.13958 6.47334L7.99958 3.60667L10.8596 6.47334C10.9845 6.59751 11.1535 6.6672 11.3296 6.6672C11.5057 6.6672 11.6747 6.59751 11.7996 6.47334C11.9237 6.34843 11.9934 6.17946 11.9934 6.00334C11.9934 5.82722 11.9237 5.65825 11.7996 5.53334L8.46624 2.20001C8.40427 2.13752 8.33053 2.08792 8.2493 2.05408C8.16806 2.02023 8.08092 2.00281 7.99291 2.00281C7.9049 2.00281 7.81777 2.02023 7.73653 2.05408C7.65529 2.08792 7.58155 2.13752 7.51958 2.20001L4.18624 5.53334C4.06159 5.65976 3.99227 5.83052 3.99352 6.00805C3.99477 6.18559 4.06649 6.35535 4.19291 6.48001C4.31933 6.60466 4.49009 6.67398 4.66762 6.67273C4.84516 6.67148 5.01493 6.59976 5.13958 6.47334Z" fill="currentColor"></path>
            </svg>
          </span>
        </button>
      </div>
      <div class="flex justify-end lg:hidden">
        <button class="flex items-center">
          <svg class="text-indigo-500 bg-indigo-100 block h-8 w-8 p-2 rounded" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <div class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10">
        <div class="hidden lg:flex items-center mr-auto pl-4 border rounded">
          <button class="mr-2 text-gray-200 hover:text-gray-300">
            <svg class="h-5 w-5" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.7 19.3L17 15.6C20.1 11.7 19.5 6 15.6 2.9C11.7 -0.2 5.99999 0.5 2.89999 4.3C-0.200006 8.2 0.499995 13.9 4.29999 17C7.59999 19.6 12.3 19.6 15.6 17L19.3 20.7C19.7 21.1 20.3 21.1 20.7 20.7C21.1 20.3 21.1 19.7 20.7 19.3ZM9.99999 17C6.09999 17 2.99999 13.9 2.99999 10C2.99999 6.1 6.09999 3 9.99999 3C13.9 3 17 6.1 17 10C17 13.9 13.9 17 9.99999 17Z" fill="currentColor"></path>
            </svg>
          </button>
          <input class="pl-2 py-3 text-sm text-gray-200" type="text" placeholder="Type to search...">
        </div>
      </div>
      <ul class="hidden lg:flex lg:justify-end mr-6">
        <li class="mr-6">
          <a class="text-gray-200 hover:text-gray-300" href="#">
            <svg class="h-5 w-5" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V14C0 14.7956 0.316071 15.5587 0.87868 16.1213C1.44129 16.6839 2.20435 17 3 17H5.59L8.29 19.71C8.38344 19.8027 8.49426 19.876 8.61609 19.9258C8.73793 19.9755 8.86839 20.0008 9 20C9.23834 20 9.46886 19.9149 9.65 19.76L12.87 17H15C15.7956 17 16.5587 16.6839 17.1213 16.1213C17.6839 15.5587 18 14.7956 18 14V3C18 2.20435 17.6839 1.44129 17.1213 0.87868C16.5587 0.316071 15.7956 0 15 0ZM16 14C16 14.2652 15.8946 14.5196 15.7071 14.7071C15.5196 14.8946 15.2652 15 15 15H12.5C12.2617 15 12.0311 15.0851 11.85 15.24L9.05 17.64L6.71 15.29C6.61656 15.1973 6.50574 15.124 6.38391 15.0742C6.26207 15.0245 6.13161 14.9992 6 15H3C2.73478 15 2.48043 14.8946 2.29289 14.7071C2.10536 14.5196 2 14.2652 2 14V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H15C15.2652 2 15.5196 2.10536 15.7071 2.29289C15.8946 2.48043 16 2.73478 16 3V14Z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li>
          <a class="text-gray-200 hover:text-gray-300" href="#">
            <svg class="h-5 w-5" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 11.18V8C13.9986 6.58312 13.4958 5.21247 12.5806 4.13077C11.6655 3.04908 10.3971 2.32615 9 2.09V1C9 0.734784 8.89464 0.48043 8.70711 0.292893C8.51957 0.105357 8.26522 0 8 0C7.73478 0 7.48043 0.105357 7.29289 0.292893C7.10536 0.48043 7 0.734784 7 1V2.09C5.60294 2.32615 4.33452 3.04908 3.41939 4.13077C2.50425 5.21247 2.00144 6.58312 2 8V11.18C1.41645 11.3863 0.910998 11.7681 0.552938 12.2729C0.194879 12.7778 0.00173951 13.3811 0 14V16C0 16.2652 0.105357 16.5196 0.292893 16.7071C0.48043 16.8946 0.734784 17 1 17H4.14C4.37028 17.8474 4.873 18.5954 5.5706 19.1287C6.26819 19.6621 7.1219 19.951 8 19.951C8.8781 19.951 9.73181 19.6621 10.4294 19.1287C11.127 18.5954 11.6297 17.8474 11.86 17H15C15.2652 17 15.5196 16.8946 15.7071 16.7071C15.8946 16.5196 16 16.2652 16 16V14C15.9983 13.3811 15.8051 12.7778 15.4471 12.2729C15.089 11.7681 14.5835 11.3863 14 11.18ZM4 8C4 6.93913 4.42143 5.92172 5.17157 5.17157C5.92172 4.42143 6.93913 4 8 4C9.06087 4 10.0783 4.42143 10.8284 5.17157C11.5786 5.92172 12 6.93913 12 8V11H4V8ZM8 18C7.65097 17.9979 7.30857 17.9045 7.00683 17.7291C6.70509 17.5536 6.45451 17.3023 6.28 17H9.72C9.54549 17.3023 9.29491 17.5536 8.99317 17.7291C8.69143 17.9045 8.34903 17.9979 8 18ZM14 15H2V14C2 13.7348 2.10536 13.4804 2.29289 13.2929C2.48043 13.1054 2.73478 13 3 13H13C13.2652 13 13.5196 13.1054 13.7071 13.2929C13.8946 13.4804 14 13.7348 14 14V15Z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
      </ul>
      <div class="hidden lg:block">
        <button class="flex items-center">
          <img class="w-10 h-10 mr-2 rounded-full object-cover object-right" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">
          <p class="text-sm mr-3">Thomas Brown</p>
          <span>
            <svg class="text-gray-500" width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.85955 7.52667L4.99955 10.3933L2.13955 7.52667C2.01401 7.40114 1.84375 7.33061 1.66621 7.33061C1.48868 7.33061 1.31842 7.40114 1.19288 7.52667C1.06734 7.65221 0.996819 7.82247 0.996819 8.00001C0.996819 8.17754 1.06734 8.3478 1.19288 8.47334L4.52621 11.8067C4.65112 11.9308 4.82009 12.0005 4.99621 12.0005C5.17234 12.0005 5.34131 11.9308 5.46621 11.8067L8.79955 8.47334C8.86171 8.41118 8.91101 8.33739 8.94465 8.25617C8.97829 8.17496 8.99561 8.08791 8.99561 8.00001C8.99561 7.9121 8.97829 7.82505 8.94465 7.74384C8.91101 7.66262 8.86171 7.58883 8.79955 7.52667C8.73739 7.46451 8.66359 7.41521 8.58238 7.38157C8.50117 7.34793 8.41412 7.33061 8.32621 7.33061C8.23831 7.33061 8.15126 7.34793 8.07005 7.38157C7.98883 7.41521 7.91504 7.46451 7.85288 7.52667H7.85955ZM2.13955 4.47334L4.99955 1.60667L7.85955 4.47334C7.98446 4.59751 8.15342 4.6672 8.32955 4.6672C8.50567 4.6672 8.67464 4.59751 8.79955 4.47334C8.92372 4.34843 8.99341 4.17946 8.99341 4.00334C8.99341 3.82722 8.92372 3.65825 8.79955 3.53334L5.46621 0.200006C5.40424 0.137521 5.3305 0.0879247 5.24926 0.0540789C5.16803 0.0202331 5.08089 0.00280762 4.99288 0.00280762C4.90487 0.00280762 4.81774 0.0202331 4.7365 0.0540789C4.65526 0.0879247 4.58152 0.137521 4.51955 0.200006L1.18621 3.53334C1.06156 3.65976 0.992236 3.83052 0.993486 4.00805C0.994736 4.18559 1.06646 4.35535 1.19288 4.48001C1.3193 4.60466 1.49006 4.67398 1.66759 4.67273C1.84513 4.67148 2.0149 4.59976 2.13955 4.47334Z" fill="currentColor"></path>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </nav>
</section>