@page
@model WebShop.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Error</title>
</head>

<body>
<section class="bg-gray-100 pb-20">
  <div class="py-10 bg-gray-100">
    <div class="container mx-auto px-4">
      <a class="text-3xl font-bold font-heading" href="#">
        @* <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto"> *@
      </a>
    </div>
  </div>
  <div class="relative py-20 md:py-32 bg-gray-50" 
       @* style="background-image: url('yofte-assets/elements/lines-color2.svg'); background-size: cover;" *@
       alt="">
    <div class="container mx-auto px-4">
      <div class="max-w-md">
        <h2 class="mb-8 text-4xl md:text-5xl font-bold font-heading bg-gray-50">Sorry, we can’t find that page or something has gone wrong</h2>
        <p class="mb-8 md:mb-16 text-lg">Checkout for any URL misspelling.</p>
        <a class="inline-block bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-4 px-8 rounded-md uppercase transition duration-200" href="#">Homepage</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>