@page "/signup"
@attribute [AllowAnonymous]

@using Microsoft.AspNetCore.Components
@using WebShop.Models
@using System.Security.Cryptography
@using System.Text
@using WebShop.Services.Customers

@inject NavigationManager NavigationManager
@inject ICustomerService CustomerService; 

<div class="min-h-screen p-4 bg-gray-100 flex items-center justify-center">
    <EditForm Model="@newCustomer" OnValidSubmit="@CreateNewCustomer">
        <ObjectGraphDataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="container min-w-screen-lg mx-auto">
            <div>
                <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                        <div class="text-gray-600">
                            <p class="font-medium text-lg">Customer Details</p>
                            <p>Please fill out all the fields.</p>
                        </div>

                        <div class="lg:col-span-2">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">

                                <div class="md:col-span-5">
                                    <label for="firstName">First Name</label>
                                    <InputText type="text" name="firstName" id="firstName" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.FirstName"/>
                                </div>

                                <div class="md:col-span-5">
                                    <label for="lastName">Last Name</label>
                                    <InputText type="text" name="lastName" id="lastName" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.LastName"/>
                                </div>

                                <div class="md:col-span-5">
                                    <label for="phoneNumber">Phone Number</label>
                                    <InputText type="text" name="phoneNumber" id="phoneNumber" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.PhoneNumber"/>
                                </div>

                                <div class="md:col-span-2">
                                    <label for="state">Email</label>
                                    <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                        <InputText name="username" id="username" placeholder="e-mail" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" @bind-Value="newCustomer.Email"/>
                                    </div>
                                </div>

                                <div class="md:col-span-1">
                                    <label for="zipcode">Password</label>
                                    <InputText type="text" name="password" id="password" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.Password"/>
                                </div>

                                <div class="md:col-span-3">
                                    <label for="address">Address / Street</label>
                                    <InputText type="text" name="address" id="address" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.Address.Street"/>
                                </div>

                                <div class="md:col-span-2">
                                    <label for="number">Number</label>
                                    <InputText type="text" name="number" id="number" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.Address.StreetNumber"/>
                                </div>

                                <div class="md:col-span-2">
                                    <label for="city">City</label>
                                    <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                        <InputText name="city" id="city" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" @bind-Value="newCustomer.Address.City"/>
                                        <button tabindex="-1" class="cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-red-600">
                                            <svg class="w-4 h-4 mx-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </button>
                                        <button tabindex="-1" for="show_more" class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-300 hover:text-blue-600">
                                            <svg class="w-4 h-4 mx-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="18 15 12 9 6 15"></polyline>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                                <div class="md:col-span-1">
                                    <label for="zipcode">Zipcode</label>
                                    <InputNumber type="text" name="zipcode" id="zipcode" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" @bind-Value="newCustomer.Address.PostCode"/>
                                </div>

                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private Customer newCustomer = new();

    private async Task CreateNewCustomer()
    {
        var c = new Customer(newCustomer);
        c.Password = HashPassword(c.Password);
        
        await CustomerService.CreateCustomerAsync(c);
        NavigationManager.NavigateTo("/");
    }
    
    private string HashPassword(string password)
    {
        using var sha256 = SHA256.Create();
        var result = sha256.ComputeHash(Encoding.UTF8.GetBytes(password));  
        var hash = BitConverter.ToString(result).Replace("-", "").ToLower();  
        return hash;
    }
}