@page "/AddAdult"
@using FileData
@using global::Person

@inject IAdultService AdultService
@inject NavigationManager NavigationManager

<h3>AddAdult</h3>

<EditForm Model="@newAdult" OnValidSubmit="@AddNewAdult">
    <div class="form-group">
        First Name: <br/>
        <InputText rows="1" @bind-Value="newAdult.FirstName"/>
    </div>

    <div class="form-group">
        Last Name: <br/>
        <InputText rows="1" @bind-Value="newAdult.LastName "/>
    </div>

    <div class="form-group">
        Hair Color: <br/>
        <InputText rows="1" @bind-Value="newAdult.HairColor"/>
    </div>

    <div class="form-group">
        Eye Color: <br/>
        <InputText rows="1" @bind-Value="newAdult.EyeColor"/>
    </div>

    <div class="form-group">
        Age: <br/>
        <InputNumber @bind-Value="newAdult.Age"/>
    </div>

    <div class="form-group">
        Weight: <br/>
        <InputNumber @bind-Value="newAdult.Weight"/>
    </div>

    <div class="form-group">
        Height: <br/>
        <InputNumber @bind-Value="newAdult.Height"/>
    </div>

    <div class="form-group">
        Sex: <br/>
        <InputText @bind-Value="newAdult.Sex"/>
    </div>

    <div class="form-group">
        Job Title: <br/>
        <InputText @bind-Value="job.JobTitle"/>
    </div>
    
    <div class="form-group">
        Salary: <br/>
        <InputNumber @bind-Value="job.Salary"/>
    </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>

@code {
    private Adult newAdult = new Adult();
    private Job job = new Job();

    private void AddNewAdult()
    {
        newAdult.JobTitle = job;
        AdultService.AddAdult(newAdult);
        NavigationManager.NavigateTo("/");
    }

}