<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s02_interaction" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S02_Interaction" >
        <activity
            android:name=".Ex10.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Ex10"
            android:exported="false" />
        <activity
            android:name=".Ex08.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ex07.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Ex06.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Ex04.MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>