<section class="py-20 bg-gray-100">
  <div class="container mx-auto px-4">
    <div class="text-center pb-20 border-b border-gray-300">
      <a class="inline-block mb-20 text-3xl font-bold font-heading" href="#">
        <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto">
      </a>
      <ul class="flex flex-wrap -mb-4 -mx-3 items-center justify-center">
        @* <li class="w-1/2 md:w-1/3 lg:w-auto px-3 mb-4"><a class="inline-block w-32 py-2 px-6 rounded-full hover:text-white bg-white hover:bg-gray-900 font-semibold font-heading transition duration-300" href="#">Category</a></li> *@
      </ul>
      <div class="flex mt-20 -mx-4 flex-wrap text-left">
        <div class="w-full lg:w-auto px-4 mb-10 lg:mb-0">
          <h3 class="mb-3 text-xl text-orange-300 font-bold font-heading">Contact Us</h3>
          <p class="text-2xl md:text-3xl font-bold font-heading">+45 45 45 45 45</p>
        </div>
        <div class="w-full lg:w-auto px-4 mb-10 lg:mb-0">
          <h3 class="mb-3 text-xl text-orange-300 font-bold font-heading">Email</h3>
          <p class="text-2xl md:text-3xl font-bold font-heading">rabatoo@rabatoo.com</p>
        </div>
        <div class="w-auto md:ml-auto px-4">
          <div class="flex items-center">
            <h3 class="mr-10 text-xl text-orange-300 font-bold font-heading">Follow Us</h3>
            <div class="flex">
              <a class="inline-flex items-center justify-center w-12 h-12 mr-2 rounded-full" href="#">
                <img src="yofte-assets/buttons/facebook-white-circle.svg" alt="">
              </a>
              <a class="inline-flex items-center justify-center w-12 h-12 mr-2 rounded-full" href="#">
                <img src="yofte-assets/buttons/instagram-circle.svg" alt="">
              </a>
              <a class="inline-flex items-center justify-center w-12 h-12 rounded-full" href="#">
                <img src="yofte-assets/buttons/twitter-circle.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 text-center">
      <p class="text-gray-500">© Copyright 2021 Rabatoo</p>
    </div>
  </div>
</section>
@code {
    
}